---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/users/tester2/blocks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - dd8be1af-9115-47e7-89e9-bcd7d249922b
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:55 GMT
recorded_with: VCR 2.9.3
