---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/users/blocks/blocks
    body:
      encoding: UTF-8
      string: '{"user_id":"block0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 44a62173-3f20-497d-aa71-9f94b9f904ae
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:56 GMT
[...]
- request:
    method: post
    uri: https://api.layer.com/apps/users/blocks_delete/blocks
    body:
      encoding: UTF-8
      string: '{"user_id":"newblock"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 7007beed-6519-4765-bcf1-cede687b74ef
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:57 GMT
recorded_with: VCR 2.9.3
