---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/users/tester/blocks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 17f8cb7d-96e1-4a84-88f5-fbdb1e8ff3a2
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:52 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/users/owner/blocks
    body:
      encoding: UTF-8
      string: '{"user_id":"block"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 43c91392-4eaf-4c5f-b361-46c5c6798306
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:53 GMT
recorded_with: VCR 2.9.3
