---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/users/owner/blocks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 8c15b2ab-957c-49c5-a36a-85fe4398412e
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:54 GMT
recorded_with: VCR 2.9.3
