---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/users/test/blocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 543b2184-47aa-4789-95a6-7979e591f540
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:46 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - eda3c831-b75a-4379-beec-166c4193217c
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Bearer realm="Layer Platform API"
    body:
      encoding: UTF-8
      string: '{"id":"invalid_app_id","code":2,"message":"The referenced App ID is
        invalid.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:34:48 GMT
recorded_with: VCR 2.9.3
