---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/webhooks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 1c9884dd-3c0c-404b-ab7e-c3c91f753835
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"invalid_header","code":107,"message":"Invalid Accept header;
        must be one of: application/vnd.layer+json; version=1.0, application/vnd.layer+json;
        version=1.1, application/vnd.layer+json; version=2.0, application/vnd.layer+json;
        version=3.0","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:35:25 GMT
recorded_with: VCR 2.9.3
