---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/webhooks
    body:
      encoding: UTF-8
      string: '{"version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"secret":"1697f925ec7b1697f925ec7b","config":{"key1":"value1","key2":"value2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      If-None-Match:
      - 53d165cc-9ae6-4861-9751-6b674aec0ee4
  response:
    status:
      code: 406
      message: Not Acceptable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"invalid_header","code":107,"message":"Invalid Accept header;
        must be one of: application/vnd.layer+json; version=1.0, application/vnd.layer+json;
        version=1.1, application/vnd.layer+json; version=2.0, application/vnd.layer+json;
        version=3.0","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Thu, 02 Nov 2017 20:35:31 GMT
recorded_with: VCR 2.9.3
